<!DOCTYPE html>
<html>

<head>
    <title>Reconhecimento de Cor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">

</head>

<body style="background-color: #dcb3ac;">
    {% if imagem_path %}
    <h1>Cor Identificada: {{ cor_identificada }}</h1>
    <img src="{{ url_for('imagem_processada', filename=imagem_path) }}" alt="Imagem Processada">
    {% else %}


        <h1 class="titulo pt-5"> Pro Maquiller</h1>


    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input  type="file" name="imagem">
        <input class="btn btn-light" type="submit" value="Enviar">
    </form>
    {% endif %}
</body>

</html>

<style>
    .titulo {
        font-family: 'Tangerine', cursive;
        text-align: center;
        font-size: 7rem;
        color: white;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>